* {
  background-color: rgb(0, 0, 0);
  color: #fff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 1.2em;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.5;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;

  padding: 0 1%;
}
/* Pusimos un saludo interactivo en lugar de un logo */
.saludo {
  font-weight: bolder;
  color: rgb(51, 113, 141);
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 9em;
  animation: animsaludo 4s infinite;
}

@keyframes animsaludo {
  from {
    width: 0;
  }
}
.logo {
  margin: 0;
  padding: 0;
}
/* .pnglogo {
  width: 150px;
  height: 50px;
} */
/* Barra de navegacion */
.socialmedia {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.menu {
  margin-top: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.socialmediaul {
  display: contents;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuli:hover {
  opacity: 0.7;
}

.socialmediali:hover {
  opacity: 0.7;
}
.menuli {
  list-style: none;
  display: flex;
  margin: 0.5em;
}

.menuli.a {
  color: #fff;
  text-decoration-color: white;
  text-decoration-line: none;
}
.menuli:last-child {
  margin: 0.5em 2.5em 0.5em 0.5em !important;
}

/* Estilos del menú wrapper */
.menu-wrapper {
  display: none;
}

.menu-toggle {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.menu-wrapper .menu {
  display: none;
}

.menu-wrapper .menu.open {
  display: block;
}

.socialmediali {
  list-style: none;
  display: flex;
  margin: 0.5em;
}
.socialmediali:last-child {
  margin: 0.5em 2.5em 0.5em 0.5em !important;
}
.logosocial {
  font-size: 30px;
}
.logosocialanchor {
  text-decoration: none;
  color: #fff;
}
.logosocial,
.social {
  height: 50px;
  align-items: center;
  display: flex;
}

.eduul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eduli {
  list-style: none;
  display: flex;
  margin: 0.5em;
}

.eduli.a {
  color: #fff;
  text-decoration-color: white;
  text-decoration-line: none;
}
.eduli:last-child {
  margin: 0.5em 2.5em 0.5em 0.5em !important;
}
h1 {
  background: linear-gradient(45deg, #ff5f6d, #ffc371);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1px;
}
h2 {
  background: linear-gradient(45deg, #41c08f, #4d4866);
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
}

#about-me h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.about-content img {
  width: 200px;
  border-radius: 50%;
  margin-right: 30px;
}

.about-content p {
  padding: 2rem;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.profile-image {
  opacity: 50;
  outline: none;
  background: white;
  cursor: inherit;
}

/* Bordes de tarjetas educacion */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.rainbow {
  text-align: center;
  position: relative;
  z-index: 0;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  background-color: #000000;
  color: white;
}
.rainbow p {
  margin-top: 60%;
  text-align: center;
  font-size: 20px;
}
.rainbow::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#f3ec78, #f3ec78),
    linear-gradient(#181123, #181123), linear-gradient(#da70d6, #da70d6),
    linear-gradient(#181123, #181123);
  animation: rotate 5s linear infinite;
}
.rainbow::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color: #000000;
  border-radius: 5px;
}

/* Modal de las tarjetas  */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  pointer-events: none;
}

.modal-window:target {
  position: absolute;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  background-color: #000000;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  border-radius: 1rem;
}

.close-modal {
  display: block;
  margin-top: 20px;
}
.modal-content h2 {
  font-size: 150%;
  margin: 0 0 15px;
  color: orange;
}
.modal-window header {
  font-weight: bold;
}

/*card Experiencia*/


.container{
  width: 1000px;
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.container .card{
  position: relative;
  cursor: pointer;
  margin: 32px;
  padding: 10px;   
}

.container .card .face{
  width: 300px;
  height: 200px;
  transition: 0.5s;
  background: transparent;
}

.container .card .face.face1{
  position: relative;
  background: #ffffff;/*Fondo blanco para que se puedan ver los logos que poseen negros y naranjas(justo los mismos colores que elegui)*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
  
}

.container .card:hover .face.face1{
  background: transparent;
  transform: translateY(0);
}

.container .card .face.face1 .content{
  opacity: 0.6;/*Cuando no me posiciono que se vea al 60%*/
  transition: 0.5s;
  background: transparent;/*Todo transparente para que no se noten detalles*/
  
}

.container .card:hover .face.face1 .content{
  opacity: 1;/*Cuando me posiciono que se vea al 100%*/
}

.container .card .face.face1 .content img{
  max-width: 100%;
  max-height: 100%;
  background: transparent;/*Todo transparente para que no se noten detalles*/    
  justify-content: center;
}

.container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: orange;
  text-decoration: double;
  background: transparent;/*Todo transparente para que no se noten detalles*/
  text-align: center;
  font-size: 2em;
}
.container .card .face.face2 .content p{
  margin-top: 25%; /* Para que no quede muy pegado al texto*/
  padding: 0;
  text-align: center;  
  background: transparent;/*Todo transparente para que no se noten detalles*/
  font-weight: bold;  
  justify-content:75%;
}








/* Formulario contacto */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  color: rgb(0, 0, 0);
  opacity: 0.7;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
/*
Lista proyectos
 */
.proyectos ul {
  flex-direction: column;

  flex-wrap: wrap;
  justify-content: center;

  list-style: none; /* Quitar los marcadores de la lista */
}

.proyectos li {
  margin: 32px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px orange; /* Dar un efecto de sombra a los elementos */
}

.proyectos span {
  font-weight: bold;
}

.proyectos div {
  display: none; /* Ocultar contenido */
  color: white; /* Dar un color blanco al texto del detalle */
  position: relative;
  padding: 5px; /* Añadir un relleno dentro del detalle */
}

.proyectos li:hover div {
  display: block;
}

/*
 Carrousel skill
  */
/*
   .carousel {
    position: relative;
    
    height: 100vh;
    overflow: hidden;
 
    pointer-events: none;

  }
  
  .carousel-item {
    --items: 10;
    --width: clamp(150px, 30vw, 300px);
    --height: clamp(200px, 40vw, 400px);
    --x: calc(var(--active) * 800%);
    --y: calc(var(--active) * 200%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    z-index: var(--zIndex);
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 50px 10px rgba(0, 0, 0, .5);
    background: black;
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform .8s cubic-bezier(0, 0.02, 0, 1);
  }
 
  .carousel-item .carousel-box {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);

    font-family: 'Orelo-sw-db', serif;
  }
   
  .carousel-item .carousel-box:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5));
  }
  
  .carousel-item .title {
    position: absolute;
    z-index: 1;
    color: #fff;
    bottom: 20px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
    text-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  }
  
  .carousel-item .num {
    position: absolute;
    z-index: -1;
    color: #fff;
    top: 10px;
    left: 20px;
    transition: opacity .8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  
 
 
  
  
/*22222222222222222222222222222222222222222222222222222222*/
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;

  transition: transform 0.5s ease;
}

.carousel-item {
  --items: 10;
  --width: clamp(150px, 30vw, 300px);
  --height: clamp(200px, 40vw, 400px);
  --x: calc(var(--active) * 800%);
  --y: calc(var(--active) * 200%);
  --rot: calc(var(--active) * 120deg);
  --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
  overflow: hidden;
  position: absolute;
  z-index: var(--zIndex);
  width: var(--width);
  height: var(--height);
  margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  user-select: none;
  transform-origin: 0% 100%;
  box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);

  pointer-events: all;
  transform: translate(var(--x), var(--y)) rotate(var(--rot));
  transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
}

.carousel-item .carousel-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);

  font-family: "Orelo-sw-db", serif;
}

.carousel-item .carousel-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.5)
  );
}
.carousel-item .meter {
  position: relative;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

meter::-webkit-meter-optimum-value {
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

meter::-moz-meter-bar {
  background-color: #00ff08;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  display: inline-block;
  background-color: #000000;
}
.carousel-item .title {
  position: absolute;
  width: 100%;
  height: 40px;
  left: 50%; /*medio*/
  bottom: 20px; /*pongo 20 porque el skillbar es 30*/
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  background-color: gray;
  transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
  font-size: clamp(20px, 3vw, 30px);
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
.carousel-item .skill-bar {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
}

.carousel-item .skill {
  height: 100%;

  background-color: greenyellow;
  transition: width 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skill-bar .progress-text {
  position: absolute;
  left: 50%; /*medio*/
  top: 25px; /*pongo 15 porque el skillbar es 30*/
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: transparent;
  animation: fadeIn 10s ease-in-out forwards;
}

@keyframes fillProgress {
  0% {
    width: 0%;
  }
}

.skill-bar .skill {
  height: 100%;

  background-color: greenyellow;
  animation: fillProgress 10s ease-in-out forwards;
}
